/* Hover para el enlace a.navbar-brand */
a.navbar-brand:hover {
    color: #ff9900; /* Cambia el color cuando se hace hover */
}

/* Hover para todos los enlaces */
a:hover {
    text-decoration: underline; /* Añade subrayado al hacer hover */
}

/* Hover para el botón .btn-primary */
.btn-primary:hover {
    background-color: #15568e; /* Cambia el color de fondo cuando se hace hover */
    border-color: #124574; /* Cambia el color del borde cuando se hace hover */
    color: #fff; /* Cambia el color del texto cuando se hace hover */
}

/* Hover para los elementos .nav-pills */
.nav-pills .nav-link:hover,
.nav-pills .show > .nav-link:hover {
    background-color: #15568e; /* Cambia el color de fondo cuando se hace hover */
    border-color: #124574; /* Cambia el color del borde cuando se hace hover */
    color: #fff; /* Cambia el color del texto cuando se hace hover */
}

/* Hover para cualquier elemento con la clase .box-shadow */
.box-shadow:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1); /* Cambia la sombra cuando se hace hover */
}

/* Hover para el botón .accept-policy */
button.accept-policy:hover {
    color: #1b6ec2; /* Cambia el color cuando se hace hover */
    text-decoration: underline; /* Añade subrayado al hacer hover */
}
