@{
    ViewData["Title"] = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aeropuerto Internacional</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

    <body>

        <div class="container-fluid">

            <div >
                <h1> Aeropuerto Grupo #1 </h1>
                <h2> Miembros del grupo: </h2>
             
            </div>

      
            <div id="theCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#theCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#theCarousel" data-slide-to="1"></li>
                    <li data-target="#theCarousel" data-slide-to="3"></li>
                    <li data-target="#theCarousel" data-slide-to="4"></li>

                </ol>

                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                    <img src="/img/nta_p.gif" alt="Ilustracion">
                        <div class="carousel-caption d-none d-md-block">
                        <h3>Josday Kaleth Méndez Rodríguez</h3>
                            <p>Grupo #1</p>
                        </div>
                    </div>



                    <div class="item">
                        <img src="/img/_retrasa_ait_emergencia_sanitaria_p.gif" alt="fotografia" >
                        <div class="carousel-caption d-none d-md-block">
                        <h3> Dereck Joel Castillo Quiros</h3>
                        <p>Grupo #1</p>
                        </div>
                    </div>

                  
                    <div class="item">
                        <img src="/img/nta_p.gif" alt="diseno" >
                        <div class="carousel-caption d-none d-md-block">
                        <h3> Dariel Vargas Lanza</h3>
                        <p>Grupo #1</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="/img/_retrasa_ait_emergencia_sanitaria_p.gif" alt="diseno">
                        <div class="carousel-caption d-none d-md-block">
                        <h3>Jefferson Burgaly Chaves</h3>
                            <p>Grupo #1</p>
                        </div>
                    </div>


                    <div class="item">
                        <img src="/img/nta_p.gif" alt="diseno">
                        <div class="carousel-caption d-none d-md-block">
                        <h3>Enrique González Laporte</h3>
                            <p>Grupo #1</p>
                        </div>
                    </div>

                    <a class="left carousel-control" href="#theCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">anterior</span>
                    </a>
                    <a class="right carousel-control" href="#theCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">siguiente</span>
                    </a>
                </div>
          

  

             <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        </div>
    </body>
</html>
