@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Viaja por el mundo cumple tus sueños.</p>
</div>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aeropuerto Internacional</title>
    <link rel="stylesheet" href="path/to/your/styles.css" />
    <style>
        body {
            width:90%
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            margin: 0;
            font-family: 'Montserrat', sans-serif;
            background-color: #DCE8F2;
            color: #1B4159;
        }

        .container {
            width: 100%;
            max-width: 600px;
        }

        /* Agrega estilos de hover aquí */
        .about-heading:hover {
            transform: scale(1.05);
            transition: transform 0.3s ease-in-out;
        }

            .about-heading:hover h2 span {
                color: #8CC3F2; /* Cambia el color al pasar el mouse */
            }


        .footer:hover {
            background-color: #333; /* Cambia el color del fondo al pasar el mouse */
            transition: background-color 0.3s ease-in-out;
        }


            section img {
                width: 0;
                flex-grow: 1;
                object-fit: cover;
                opacity: 0.8;
                transition: 0.5s ease;
            }

                section img:hover {
                    cursor: crosshair;
                    width: 300px;
                    opacity: 1;
                    filter: contrast(120%);
                }
    </style>
</head>
<body>

    <section style="width:80%;height:430px;margin: 20px 0;
            border-radius: 20%;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
            overflow: hidden;display: flex;
            width: 100%;
            justify-content: space-between;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Interior_de_la_terminal_T4_del_Aeropuerto_Adolfo_Su%C3%A1rez_Madrid-Barajas..jpg">
        <img src="https://images.pexels.com/photos/12717154/pexels-photo-12717154.jpeg">
        <img src="https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA3L3BmLW11Ny1qaXI1Nzg3LWppcmEtcG9yLTAwMTItbC5qcGc.jpg">
        <img src="https://images.rawpixel.com/image_600/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvbnMxOTk3MS1pbWFnZS1rd3Z5YTcxby5qcGc.jpg">
        <img src="https://images.rawpixel.com/image_800/cHJpdmF0ZS9zdGF0aWMvaW1hZ2Uvd2Vic2l0ZS8yMDIyLTA0L2xyL2ZsNDk3ODA5MzAyMjEtaW1hZ2Uta3U3ejh2dHQuanBn.jpg">
    </section>

    <section class="page-section about-heading">
        <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="https://southjets.com/wp-content/uploads/2023/05/Aeropuerto_de_Munich_Alemania-edit-1024x576.jpg" alt="Aeropuerto" />
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-lower">Bienvenido al Aeropuerto Internacional</span>
                            </h2>

                            <p class="mb-0">
                                Explora la emoción y la comodidad de viajar desde y hacia nuestro aeropuerto internacional. Ya sea que estés partiendo a destinos emocionantes o regresando a casa, en el Aeropuerto Internacional, estamos dedicados a proporcionar una experiencia de viaje excepcional. Desde instalaciones modernas hasta servicios de clase mundial, nuestro aeropuerto es tu puerta de entrada al mundo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section about-heading">
        <div class="container">
            <div class="text-center">
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="https://img.freepik.com/fotos-premium/avion-despegando-aeropuerto_148840-4714.jpg" alt="Avión despegando" />
            </div>
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Viajes sin complicaciones</span>
                                <span class="section-heading-lower">Acerca de nuestro Aeropuerto</span>
                            </h2>
                            <p>
                                Fundado para conectar el mundo, el Aeropuerto Internacional ha estado facilitando viajes aéreos seguros y cómodos desde 2023. Nos enorgullece ofrecer una experiencia de viaje que refleja la calidad, la eficiencia y la calidez. Ya sea que estés volando por negocios o placer, nuestro aeropuerto está diseñado para satisfacer todas tus necesidades de viaje.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section about-heading">
        <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="https://upload.wikimedia.org/wikipedia/commons/e/e4/Terminal_4_del_aeropuerto_de_Madrid-Barajas%2C_Espa%C3%B1a%2C_2013-01-09%2C_DD_11.jpg" alt="Terminal del Aeropuerto" />
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Construyendo conexiones globales</span>
                                <span class="section-heading-lower">Nuestra Misión y Visión</span>
                            </h2>
                            <span class="section-heading-upper"><strong>Misión</strong></span>
                            <p class="mb-0">
                                Facilitar la conectividad global al proporcionar servicios aeroportuarios de alta calidad, asegurando la comodidad y la seguridad de nuestros pasajeros y la eficiencia de las operaciones aéreas.
                            </p>

                            <br>

                            <span class="section-heading-upper"><strong>Visión</strong></span>
                            <p class="mb-0">
                                Ser reconocidos como uno de los principales aeropuertos internacionales, destacando por nuestra excelencia en servicios y contribución al desarrollo del transporte aéreo a nivel mundial.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer text-faded text-center py-5">
        <div class="container"><p class="m-0 small">© Aeropuerto Internacional 2023. Todos los derechos reservados.</p></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>
</html>
