@model Aeropuerto.Models.Pasajero

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pasajero</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Edad" class="control-label"></label>
                <input asp-for="Edad" class="form-control" />
                <span asp-validation-for="Edad" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="DestinoId" class="control-label"></label>
                <select asp-for="DestinoId" class ="form-control" asp-items="ViewBag.DestinoId"></select>
            </div> *@
            <div class="form-group">
                <label asp-for="DestinoId" class="control-label"></label>
                <select asp-for="DestinoId" class="form-control" id="destinoDropdown"></select>
                <input type="hidden" asp-for="DestinoId" id="hiddenDestinoId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    <script>
        // Obtener la lista de destinos del servidor y cargarlos en el dropdown
        $.ajax({
            url: '/Destinoes/GetDestinos', // Ajusta la ruta según tu controlador y acción real
            type: 'GET',
            success: function (data) {
                var dropdown = $('#destinoDropdown');
                dropdown.empty();
                $.each(data, function () {
                    dropdown.append($('<option></option>').attr('value', this.destinoId).text(this.pais));
                });
            }
        });

        // Manejar el cambio en el dropdown para actualizar el campo oculto
        $('#destinoDropdown').change(function () {
            $('#hiddenDestinoId').val($(this).val());
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
